{% extends 'base.html' %}

{% block title %}
    To Do App - Sign In
{% endblock %}

{% block head %}
    <link rel = 'stylesheet' href = '{{ url_for("static", filename = "styles/signinandup.css") }}'>
{% endblock %}

{% block content %}

    <div class = 'container'>
        <h1 class = 'title'>ToDo</h1>
        <h2 class = 'subtitle'>Sign In</h2>
        <form action = '/auth/authoriseuser' method = 'post'>
            <div>
                
                <!-- <label for = 'username'>Username:</label> -->
                <input name = 'username' id = 'username' type = 'text'required placeholder="Username"/>
            </div>

            <div>
                <!-- <label for = 'password'>Password:</label> -->
                <input name = 'password' id = 'password' type = 'password'required placeholder="Password"/>
            </div>
            
            <div>
                <input type = 'submit' value = 'Sign In' />
            </div>

        </form>


        <p>No Account? <a href = '/signup'>click here to make an account</a></p>
    </div>

{% endblock %}  
    
