:root{
    --main-bg-colour:#036264;
    --main-fg-colour:#e0829d;
    --secondary-bg-colour:#11302a;
    --secondary-fg-colour:#dac4d0;
    --button-colour:white;
    --button-colour-hover:#036264;

}