body{
    background-color: var(--main-bg-colour);
    color: var(--main-fg-colour);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h1{
    font-family: Georgia, 'Times New Roman', Times, serif;
}